nav ul a{
	color: #fff;
}
nav a{
	color: #fff;
}
.banner{
	background-color: #212121;
	color: #fff;
	padding-top: 25px;
	padding-bottom: 25px;
	font-family: 'Poiret One', cursive;
}
.banner__logo{
	font-size: 250px;
	padding-left: 100px;
}
.portfolio__logo{
	font-size: 105px;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 10px;
	color: #FF7878;
}
.portfolio__content{
	font-size: 20px;
	text-align: left;
	font-family: 'Quicksand', sans-serif;;
	font-weight: 700;
}
.footer__link{
	font-size: 50px;
	text-align: center;
	color: #fff;
}
.footer-copyright{
	font-size: 20px;
	color: white;
}
